.socailMedia{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}
.socailMedia a{
    display: inline-block;
    width: 90px;
    height: 90px;
    background-color: #fff;
    border-radius: 50%;
    display: grid;
    place-items: center;
    color: #fff;
    text-decoration: none;
    position: relative;
    z-index: 1;
    overflow: hidden;
}
.socailMedia a:not(:last-child){
    margin-right: 20px;
}
.socailMedia a {
    transition: all 0.3s ease-in-out;
}
.socailMedia a::before{
    content: '';
    position: absolute;
    top: -15%;
    left: 5%;
    width: 115%;
    height: 115%;
    background-color: #fff;
    z-index: -1;
    transition: 0.3s ease-in-out;
    z-index: -1;
    transform: rotate(45deg);
    background-color: #69369E
}
.socailMedia a:hover {
    color: #69369E;
}
.socailMedia a:hover:only-child{
    transform: scale(1.2);
}
.socailMedia a:hover::before{
    transform: rotate(45deg) translate(15%,-100%);
}